.Post{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PostForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end: 10em;
}
.mb-3.form-group{
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PostForm input, .PostForm button{
    margin: 5px;
    width: 400px;
    height: 25px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}
.PostForm input:not(.file), textarea{
    margin-right: 16px/2;
    appearance: none;
    -webkit-appearance: none;
    font-size: 16px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 5px #9d9ea3, inset -5px -5px 10px rgb(207, 206, 206);
    border-radius: 2em;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    padding: 1em;
}
.PostForm input.file{
    display: flex;
    margin: auto;
    padding: 1em;
}
.PostForm button{
    margin-top: 35px;
    background-color: white;
    border: 1px solid #fd2d01;
    line-height: 0;
    display: inline-block;
    box-sizing: border-box;
    color: #fd2d01    ;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    padding: 1em;
    cursor: pointer;
}
.PostForm label{
    color: #fd2d01;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
    display: block;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}
.PostForm input,button,label,textarea{
    font-size: 1.2em;
}
.PostForm img{
    width: 125px;
    margin: auto;
}